# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints

# ===============================
# Environment
# ===============================
.env
.venv
venv/
env/

# ===============================
# Conda
# ===============================
conda-meta/
*.conda

# ===============================
# PyTorch / Model weights
# ===============================
*.pt
*.pth
*.ckpt

# ===============================
# Training results
# ===============================
results/
runs/
logs/

# ===============================
# Dataset
# ===============================
data/
datasets/

# ===============================
# VSCode
# ===============================
.vscode/

# ===============================
# macOS
# ===============================
.DS_Store

# ===============================
# Temporary files
# ===============================
*.log
*.tmp
*.swp

# ===============================
# results
# ===============================
results/
output/